# virtualenv
venv*/

# environment files
*.env

# bytecode files
__pycache__/

# covarage test output
.coverage

# type checking
.mypy_cache/

# pytests
.pytest_cache/

# tldextract file
tldextract.cache

# vim swap files
*.swp
*.swo

# From NextJS generated .gitignore

# dependencies
frontend/node_modules
frontend/.pnp
.pnp.js

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
